* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

nav {
    min-height: 5em;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
    align-items: center;
}

.direction-column-between {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.padding-1 {
    padding: 1em;
}

.margin-top-2 {
    margin-top: 2em;
}

.margin-bottom-2 {
    margin-bottom: 2em;
}

.align-middle {
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

.boxed {
    max-width: 1200px;
    margin: 0 auto;
}

.boxed-footer {
    max-width: 1400px;
    margin: 0 auto;
}

.boxed-language {
    max-width: 100px;
    margin-left: 0;
    margin-top: 2em;
}

h1 {
    text-align: left;
    font-size: 4.5em;
    padding-top: 1em;
}

h2 {
    text-align: left;
    font-size: 3em;
    padding-bottom: 0.5em;
}

h3 {
    font-size: 1.8em;
}

p {
    font-size: large;
}

input {
    margin-top: 2em;
}

.width20 {
    width: 20%;
}

.width30 {
    width: 30%;
}

.width70 {
    width: 70%;
}

label {
    margin-right: 1.5em;
}

.border {
    border: 1px solid gray;
}

.gap {
    gap: 15px;
}

.square {
    width: 50%;
    height: 50%;
}

.faq-arrow:active {
    transform: rotate(180deg);
}

.faq {
    display: none;
}

li {
    list-style: none;
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
}

footer {
    margin-top: 100px;
    height: 20em;
}

/********** COLORI **********/

.black {
    color: black;
}

.blue {
    background-color: blue;
}

.bg-black {
    background-color: black;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.white {
    color: white;
}

.lightgray {
    color: lightgray;
}