* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

nav {
    min-height: 5em;
}

a {
    text-decoration: none;
}

button {
    background-color: #0061FF;
    color: white;
    padding: 1em;
    border: none;
}

button:hover {
    background-color: #5496ff;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
    align-items: center;
}

.direction-column-between {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 40px;
}
.padding-05 {
    padding: 0.5em;
}

.padding-1 {
    padding: 1em;
}

.padding-2 {
    padding: 2em;
}

.padding-plans {
    padding: 2.5em;
    padding-top: 1em;
}

.margin-top-105 {
    margin-top: 1.5em;
}

.margin-top-2 {
    margin-top: 2em;
}

.margin-top-3 {
    margin-top: 3em;
}

.margin-top-402 {
    margin-top: 4.2em;
}

.margin-bottom-10 {
    margin-bottom: 10em;
}

.margin-top-10 {
    margin-top: 10em;
}

.margin-bottom-05 {
    margin-bottom: 0.5em;
}

.margin-bottom-2 {
    margin-bottom: 2em;
}

.margin-left-3 {
    margin-left: 3em;
}

.align-middle {
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

.boxed {
    max-width: 1200px;
    margin: 0 auto;
}

.boxed-jumbo {
    max-width: 1350px;
    margin: 0 auto;
}

.boxed-footer {
    max-width: 1400px;
    margin: 0 auto;
}

.boxed-short {
    max-width: 100px;
    margin-left: 0;
    margin-top: 2em;
    margin-bottom: 2em;
    border: 1px solid lightgray;
}

h1 {
    text-align: left;
    font-size: 5.5em;
    padding-top: 1em;
    padding-left: 16px;
    font-weight: 900;
}

h2 {
    text-align: left;
    font-size: 3em;
    padding-bottom: 0.5em;
}

h3 {
    font-size: 1.8em;
}

p {
    font-size: large;
}

span {
    font-size: 17px;
}

input {
    margin-top: 2em;
}

.width0 {
    width: 20%;
}

.width25 {
    width: 25%;
}

.width30 {
    width: 30%;
}

.width32 {
    width: 32%;
}

.width60 {
    width: 60%;
}

.width70 {
    width: 70%;
}

label {
    margin-right: 1.5em;
}

.border {
    border: 1px solid lightgray;
}

.border-only-bottom {
    border-bottom: 1px solid lightgray;
}

.gap {
    gap: 15px;
}

.gap-team {
    gap: 80px;
}

.square {
    width: 50%;
    height: 50%;
}

footer > li {
    list-style: none;
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
}

li {
    list-style: none;
    margin-bottom: 1em;
}

footer {
    /* margin-top: 100px; */
    min-height: 20em;
}

.single-line {
    align-self: center;
}

.button-plans {
    width: 100%;
}

.overflowy {
    overflow-y: scroll;
}

/********** COLORI **********/

.black {
    color: black;
}

.blue {
    background-color: blue;
}

.azure {
    color: rgb(26, 112, 170);
}

.bg-black {
    background-color: black;
}

.bordeaux {
    color: #61082B;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.white {
    color: white;
}

.lightgray {
    color: lightgray;
}

