* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

nav {
    min-height: 5em;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
    align-items: center;
}

.direction-column-between {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.padding-1 {
    padding: 1em;
}

.margin-top-2 {
    margin-top: 2em;
}

.align-middle {
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

.boxed {
    width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: left;
    font-size: 4.5em;
    padding-top: 1em;
}

h2 {
    text-align: left;
    font-size: 3em;
    padding-bottom: 0.5em;
}

p {
    font-size: large;
}

input {
    margin-top: 2em;
}

.width20 {
    width: 20%;
}

.width30 {
    width: 30%;
}

.width70 {
    width: 70%;
}

label {
    margin-right: 1.5em;
}

.border {
    border: 1px solid gray;
}

.gap {
    gap: 15px;
}

/********** COLORI **********/

.blue {
    background-color: blue;
}

.black {
    color: black;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}