nav > div > :nth-child(-n+3) {
    margin-right: 1.5em;
}

.container-jumbo {
    height: 48em;
    background-color: #B4D0E7;
}

.jumbo {
    position: relative;
    width: 100%;
}

#arrow-down {
    font-size: 3em;
}

.container-plans {
    height: 60em;
    width: 1200px;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2.5em;
}

.container-team {
    height: 10em;
}

.container-partner {
    height: 32.5em;
    margin-top: 5em;
    margin-bottom: 5em;
}

.container-feature {
    height: 70em;
}

.feature {
    width: calc(100% / 3 - 10px);
}

.img-feature {
    width: 100%;
}

#team {
    font-size: 1.5em;
    margin-top: 2em;
    height: 2em;
    line-height: 2em;
    border-bottom: 0px;
}

.container-squares {
    margin-top: 5em;
}

.square-column {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.container-squares-smaller {
    width: 50%;
    height: 50%;
}